# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/

# Pytest
.pytest_cache/
.cache/

# Allure
allure-results/
allure-report/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Notifications
notifications
notifications/